:root {
    --width: 1200px;
    --height: 300px;
}

body {
    margin: 0;
}

.swiper {
    width: var(--width);
    height: var(--height);
    position: relative;
    overflow: hidden;
}
.swiper .wrapper {
    height: inherit;
    position: absolute;
    display: inline-flex;
}
.swiper .wrapper img {
    width: var(--width);
    height: inherit;
    object-fit: cover;
    cursor: pointer;
}
.swiper .switch {
    position: absolute;
    width: 60px;
    height: inherit;
    text-align: center;
    line-height: var(--height);
    font-size: 40px;
    background-color: gray;
    opacity: 0;
}

.swiper .switch:hover {
    cursor: pointer;
    opacity: 0.4;
}

.swiper .prev {
    left: 0;
}

.swiper .next {
    right: 0;
}

.swiper .indicator {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    width: fit-content;
    height: 50px;
    display: inline-flex;
    align-items: center;
}

.swiper .indicator span {
    width: 20px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
}

.swiper .indicator span:hover {
    font-size: 1.3em;
}