.queue-container {
  display: flex;
  flex-direction: column;
}
.row-flex-container {
  display: flex;
  flex-direction: row;
}
.FilterableProductTable {
  width: 300px;
}
.SearchBar, .ProductTable {
  margin: 10px 5px;
}
.SearchBar input[type=text] {
  width: 170px;
  height: 20px;
}
.category {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.name, .price {
  flex: 1;
}
.category .name, .category .price {
  font-weight: bold;
}